# Add any directories, files, or patterns you don't want to be tracked by version control
.git
.idea
.vagrant
.DS_Store
vendor
!.gitkeep
/docker/data/mysql/*
/docker/data/postgres/*
/docker/logs/httpd/*
/www/*
!/www/www.example.com/index.html

